{% extends 'base.html' %} {% block content %} {% if object %}
<h1>Edit <span class="teal-text">{{object.name}}</span></h1>
{% else %}
<h1>Add an Event</h1>
{% endif %}
<hr />

<form action="" method="post">
  {% csrf_token %} {{ form.as_table }}
  <input type="submit" value="ADD EVENT" class="btn" />
</form>

<script>
  var dateEl = document.getElementById("id_date");
  M.Datepicker.init(dateEl, {
    format: "yyyy-mm-dd",
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
  });

  var selectEl = document.getElementById("id_meal");
  M.FormSelect.init(selectEl);
</script>

{% endblock %}
