{% extends 'base.html' %} {% block content %}

<h1>Hello <span class="teal-text">{{ request.user }}!</span></h1>
<p>Care to check your schedule?</p>

<form action="{% url 'date_detail' %}" method="POST">
  {% csrf_token %} {{ date_form.as_p }}
  <input type="submit" class="btn" value="See Schedule" />
</form>

<script>
  var dateEl = document.getElementById("id_date");
  M.Datepicker.init(dateEl, {
    format: "yyyy-mm-dd",
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
  });

  var selectEl = document.getElementById("id_meal");
  M.FormSelect.init(selectEl);
</script>

{% endblock %}
