{% extends 'base.html' %} {% block content %}

<h1>{{ date_selected }}</h1>
<hr />

<div class="row">
  <div class="col s6">
    <h5>Your Tasks</h5>
    {% for event in events %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ event.name }}</span>
        <p>{{ event.timeBeg }} to {{ event.timeEnd}}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'event_delete' event.id %}">Delete</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col s6">
    <h5>Your Family's Tasks</h5>
    {% for otherevent in otherevents %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ otherevent.name }}</span>
        <p>{{ otherevent.timeBeg }} to {{ otherevent.timeEnd}}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'users_profile' otherevent.user.id %}"
          >{{ otherevent.user }}</a
        >
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
